/* CSS declarations go here */
/* Move down content because we have a fixed navbar that is 50px tall */
body { padding-top: 70px; padding-bottom: 20px; }

.jumbotron { margin-top: -20px; }

.green { color: green; }
.red   { color: red; }
.blue  { color: blue; }

.page-header {
  margin-top: 0;
  padding-top: 0;
}

.code {
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.job-status-switch {
  cursor: pointer;
}
