<template name="functions">

  <h2 class="page-header">Functions</h2>

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">New template</div>
        <div class="panel-body">
          <p>Create a new template</p>
          <a class="btn btn-primary" href="{{pathFor 'functions.add'}}" role="button">Add template</a>
        </div>
      </div>
    </div>

    {{#each functions}}
      {{>functionsTableItem}}
    {{/each}}

  </div>

</template>

<template name="functionsTableItem">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><a href="{{pathFor 'functions.edit'}}">{{name}}</a></div>
      <div class="panel-body">
        <p>{{createdAt}}</p>
        <a class="btn btn-default" href="{{pathFor 'functions.edit'}}">Edit</a>
        <a class="btn btn-danger remove-item" href="#">Remove</a>
      </div>
    </div>
  </div>

</template>

<template name="functionsAdd">
  <h2 class="page-header">Create new function</h2>
  {{> quickForm collection="Functions" id="templateForm" type="insert"}}
</template>

<template name="functionsEdit">
  <h2 class="page-header">Update function</h2>
  {{> quickForm collection="Functions" id="templateForm" type="update" doc=function}}
</template>
